---
layout: layout.njk
title: Contact
permalink: /contact/index.html
---
<form method="POST" action="https://formspree.io/f/yourformid">
  <label>Email
    <input type="email" name="email" required>
  </label>
  <label>Message
    <textarea name="message" required></textarea>
  </label>
  <button type="submit">Send</button>
</form>
